.section-about {
  padding: 25rem 0;
  background-color: var(--gray-lighter);
  margin-top: -20vh;

  @include respond(tab-port) {
    padding: 20rem 0;
  }
}

.section-feature {
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, rgba($green-light, 0.8), rgba($green-dark, 0.8)), url('/img/nat-4.jpg');
  background-size: cover;
  margin-top: -10rem;
  transform: skewY(-7deg);

  & > * {
    transform: skewY(7deg);
  }

  @include respond(tab-port) {
    padding: 10rem 0;
  }
}

.section-tours {
  padding: 25rem 0 15rem 0;
  margin-top: -10rem;
  background-color: var(--gray-lighter);

  @include respond(tab-port) {
    padding: 20rem 0 10rem 0;
  }
}

.section-stories {
  padding: 15rem 0;
  position: relative;

  @include respond(tab-port) {
    padding: 10rem 0;
  }
}

.section-books {
  padding: 15rem 0;
  background: linear-gradient(to right bottom, $primary-light, $primary-dark);

  @include respond(tab-port) {
    padding: 10rem 0;
  }
}

.book {
  background-image: linear-gradient(105deg, rgba($white, 0.9) 0%, rgba($white, 0.9) 50%, transparent 50%), url('/img/nat-10.jpg');
  background-size: 100%;
  box-shadow: 0 2rem 4rem rgba($black, 0.8);
  border-radius: 3px;

  @include respond(tab-land) {
    background-image: linear-gradient(105deg, rgba($white, 0.9) 0%, rgba($white, 0.9) 65%, transparent 65%), url('/img/nat-10.jpg');
    background-size: cover;
  }

  @include respond(tab-port) {
    background-image: linear-gradient(to right, rgba($white, 0.9) 0%, rgba($white, 0.9) 100%, transparent 100%), url('/img/nat-10.jpg');
  }

  &__form {
    padding: 6rem;
    width: 50%;

    @include respond(tab-land) {
      width: 65%;
    }

    @include respond(tab-port) {
      width: 100%;
    }
  }
}
