.form {
  &__group:not(:last-child) {
    margin-bottom: 2rem;
  }

  &__input {
    background-color: rgba($white, 0.5);
    border: none;
    border-bottom: 3px solid transparent;
    border-radius: 2px;
    color: inherit;
    display: block;
    font-family: inherit;
    font-size: 1.5rem;
    padding: 1.5rem 2rem;
    width: 90%;
    transition: all 0.3s;

    @include respond(tab-port) {
      width: 100%;
    }

    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba($black, 0.1);

      border-bottom-color: var(--primary);
    }

    &:focus:invalid {
      border-bottom-color: var(--secondary-dark);
    }

    &::-webkit-input-placeholder {
      color: var(--grey-darkest);
    }
  }

  &__label {
    display: block;
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: 0.7rem;
    transition: all 0.3s;
  }

  &__input:placeholder-shown + &__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
  }

  &__radio-group {
    width: 49%;
    display: inline-block;

    @include respond(tab-port) {
      width: 100%;
      margin-bottom: 2rem;
    }
  }

  &__radio-input {
    display: none;
  }

  &__radio-label {
    cursor: pointer;
    position: relative;
    padding-left: 4.5rem;
  }

  &__radio-button {
    height: 3rem;
    width: 3rem;
    border: 5px solid var(--primary);
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: 0;
    top: -0.4rem;

    &::after {
      content: '';
      display: block;
      width: 1.3rem;
      height: 1.3rem;
      border-radius: 50%;
      @include absCenter;
      background-color: var(--primary);
      opacity: 0;
      transition: opacity 0.3s;
    }
  }

  &__radio-input:checked ~ &__radio-label > &__radio-button:after {
    opacity: 1;
  }
}
