:root {
  @each $color, $value in $theme-colors {
    --#{$color}: #{$value};
  }

  @each $color, $value in $colors {
    --#{$color}: #{$value};
  }
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  // This defines what 1rem is
  font-size: 62.5%; // 1rem = 10px; (10px/16px) * 100% = 62.5%

  @include respond(big-desktop) {
    font-size: 75%; // 1rem = 12px; (12px/16px) * 100% = 75%
  }

  @include respond(tab-land) {
    font-size: 56.25%; // 1rem = 9px; (9px/16px) * 100% = 56.25%;
  }

  @include respond(tab-port) {
    font-size: 50%; // 1rem = 8px; (8px/16px) * 100% = 50%;
  }
}

body {
  box-sizing: border-box;
  padding: 3rem;

  @include respond(tab-port) {
    padding: 0;
  }
}

*::selection {
  background-color: var(--primary);
  color: var(--white);
}
