.row {
  max-width: $grid-width;
  margin: 0 auto;
  &:not(:last-child) {
    margin-bottom: $gutter-vertical;

    @include respond(tab-port) {
      margin-bottom: $gutter-vertical-small;
    }
  }

  @include clearfix;

  [class*="col-"] {
    float: left;

    &:not(:last-child) {
      margin-right: $gutter-horizontal;

      @include respond(tab-port) {
        margin-right: 0;
        margin-bottom: $gutter-vertical-small;
      }
    }

    @include respond(tab-port) {
      width: 100% !important;
    }
  }

  @include respond(tab-port) {
    max-width: $grid-width-small;
    padding: 0 3rem;
  }

  .col-1-of-2 {
    width: calcTwoGrid();
  }

  .col-1-of-3 {
    width: calcThree();
  }

  .col-2-of-3 {
    width: calcThree(true);
  }

  .col-1-of-4 {
    width: calcFour();
  }

  .col-2-of-4 {
    width: calcFour(2);
  }

  .col-3-of-4 {
    width: calcFour(3);
  }
}
